/* Body Styling: */
body {
    background-color: #1a925e;
    margin: 0;
    padding: 0;
    color: antiquewhite;
}


#acnh {
    height: 400px;
    margin-top: 40px;
    display: flex;
    align-self: center;
}

#museum {
    height: 50%;
    width: 60%;
    display: flex;
    align-self: center;
    margin-bottom: 40px;
}

.intro {
    
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    height: 100%;
}


