#acnh {
    height: 400px;
    margin-top: 40px;
    display: flex;
    align-self: center;
}

.intro {
    
    display: flex;
    flex-direction: column;
    text-align: center;
}

div {
    background-color:
    #1a925e;
}

