
#acleaf {
    width: 60px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 32px;
    background-color: #0e5436;
    box-shadow: 0 2px 4px rgba(0, 0, 0,0);
}

.title {
    display: flex;
    background-image: url(../../Assets/acgrass.png);
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    padding: 8px;
}

p {
    margin-bottom: 60px;
    margin-left: 40px;
}

.navmenu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.navmenu li {
    cursor: pointer;
}

.navmenu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.navmenu li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.account {
    display: flex;
    align-items: center;
    gap: 16px;
}

.account button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.account button:active{
    background: green;
}